In [1]:
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt  
import seaborn as sns

4. Using the pandas `read_csv()` method, read the GDP dataset into your notebook as a DataFrame called `gdp_df`. Take a look at the first few and last few rows to familiarize yourself with what is contained in this dataset.

In [2]:
gdp_df = pd.read_csv('../data/gdp_percapita.csv')

5. How many rows and columns are in `gdp_df`? What are the data types of each column?

In [3]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7662 entries, 0 to 7661
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  7662 non-null   object
 1   Year             7662 non-null   int64
 2   Value            7662 non-null   float64
 3   Value Footnotes  0 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 239.6+ KB

6. Drop the `Value Footnotes` column and rename the remaining three to 'Country', 'Year', and 'GDP_Per_Capita'.

In [4]:
gdp_df_clean = gdp_df.drop('Value Footnotes', axis=1)

In [5]:
gdp_df_clean.columns =['Country', 'Year', 'GDP_Per_Capita']

7. How many countries have data for all years? 
Which countries are missing many years of data? 
Look at the number of observations per year. What do you notice?

In [6]:
gdp_df_year_count = gdp_df_clean.groupby('Country').nunique('Year')

In [7]:
gdp_df_year_count

                             Year  GDP_Per_Capita
Country
Afghanistan                    20              20
Africa Eastern and Southern    33              33
Africa Western and Central     33              33
Albania                        33              33
Algeria                        33              33
...                           ...             ...
Viet Nam                       33              33
West Bank and Gaza             29              29
World                          33              33
Zambia                         33              33
Zimbabwe                       33              33

[242 rows x 2 columns]

In [8]:
gdp_df_year_count.value_counts('Year')

Year
33    202
28     10
32      5
23      4
31      3
22      3
29      2
26      2
10      2
12      1
25      1
20      1
19      1
16      1
30      1
15      1
14      1
24      1
Name: count, dtype: int64

In [9]:
gdp_df_year_count[gdp_df_year_count['Year'] == 33]

                             Year  GDP_Per_Capita
Country
Africa Eastern and Southern    33              33
Africa Western and Central     33              33
Albania                        33              33
Algeria                        33              33
Angola                         33              33
...                           ...             ...
Vanuatu                        33              33
Viet Nam                       33              33
World                          33              33
Zambia                         33              33
Zimbabwe                       33              33

[202 rows x 2 columns]

8. In this question, you're going to create some plots to show the distribution of GDP per capita for the year 2020. Go to the Python Graph Gallery (https://www.python-graph-gallery.com/) and look at the different types of plots under the Distribution section. Create a histogram, a density plot, a boxplot, and a violin plot. What do you notice when you look at these plots? How do the plots compare and what information can you get out of one type that you can't necessarily get out of the others?

In [15]:
gdp_df_2020 = gdp_df_clean[gdp_df_clean['Year'] == 2020]

In [17]:
gdp_df_2020.drop('Year', axis =1)

                          Country  GDP_Per_Capita
1                     Afghanistan     1968.341002
22    Africa Eastern and Southern     3455.023119
55     Africa Western and Central     3957.933804
88                        Albania    13278.369769
121                       Algeria    10844.770764
...                           ...             ...
7503                     Viet Nam    10450.622382
7536           West Bank and Gaza     5402.538773
7565                        World    16204.169107
7598                       Zambia     3183.650773
7631                     Zimbabwe     1990.319419

[242 rows x 2 columns]

In [24]:
gdp_df_2020.hist()

array([[<Axes: title={'center': 'Year'}>,
        <Axes: title={'center': 'GDP_Per_Capita'}>]], dtype=object)

In [26]:
gdp_df_2020.kdeplot()

AttributeError: 'DataFrame' object has no attribute 'kdeplot'

In [28]:
gdp_df_2020.boxplot()

In [32]:
gdp_df_2020.violin(x = gdp_df_2020["Country"], y = gdp_df_2020["GDP_Per_Capita"])

AttributeError: 'DataFrame' object has no attribute 'violin'

9. What was the median GDP per capita value in 2020?

In [42]:
gdp_df_clean.median('GDP_Per_Capita')

TypeError: could not convert string to float: 'Afghanistan'